{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}

<div class="col-md-4">
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"
                   class="form-control" placeholder="Enter Username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"
                   class="form-control" placeholder="Enter Password">
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}

<div class="col-md-4">
    <form action="" method="post">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Register" class="btn btn-success">
    </form>

    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>

{% endif %}

{% endblock content %}